

/* importing google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-normal{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}


/* shared styles  */

.display-flex{
    display: flex;
}

.color-primary{
    color: #3A3A3A;
}

/* header >  nav and banner styles */

header{
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 1.5rem;
    font-weight: 800;
}

nav > ul{
    align-items: center;
    gap: 2.12rem;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}